.background-dark {
  background-color: var(--very-dark-blue);
}

.background-light {
  background-color: var(--very-light-gary);
}

.background {
  padding-block-start: 2rem;
  min-height: 100vh;
}

.dark {
  background-color: var(--dark-blue);
  color: var(--white);
}

.light {
  background-color: var(--white);
  color: var(--very-very-dark-blue);
}
